<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ui-sortable</title>
  <style type="text/css" src="/bower_components/bootstrap/dist/css/bootstrap.min.css"></style>
  <style type="text/css" src="tree.css"></style>

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-sortable/sortable.min.js"></script>
  <script type="text/javascript" src="gen.genericDirectives.js"></script>
  <script type="text/javascript" src="tree.js"></script>

</head>
<body>

<div ng-app="sortableApp" ng-controller="sortableController" class="container">
  <h2>ui.sortable tree with dynamic template</h2>
  <div class="floatleft">
    <gen-dynamic-directive ng-model="rootItem" gen-get-dynamic-view="getView">
    </gen-dynamic-directive>
    <div style="clear: both;"></div>
  </div>

  <div class="floatright">
  <p>{{items}}</p>
  </div>
  
  <div class="clear"></div>
  
  <script type="text/ng-template" id="nestable_item.html">
    <div>
      {{ngModelItem.title}}
      <ul class="apps-container" ui-sortable="sortableOptions" ng-model="ngModelItem.items">
        <li class="innerCont" ng-repeat="innerItem in ngModelItem.items">
          <gen-dynamic-directive ng-model="innerItem" gen-get-dynamic-view="getView">
          </gen-dynamic-directive>
        </li>
      </ul>
    </div>
  </script>

 

</div>

</body>
</html>